:root {
  --pink: hsl(338, 70%, 55%);
  --white: hsl(334, 7%, 95%);
}

body {
  --dot-bg: #161616;
  --dot-color: #848282;
  --dot-size: 2px;
  --dot-space: 50px;
  background-blend-mode: multiply;
  min-block-size: 100dvh;
  display: grid;
  place-items: center;
  user-select: none;

  background: linear-gradient(
        90deg,
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    linear-gradient(
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    var(--dot-color);
  overflow: hidden;
}
